<%= simple_form_for order, remote: true  do |form| %>


        <div class="modal-header">
            <h5 class="modal-title"> Edit Order</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
                <div class="row">
                <div class="col-6">
                    <%= form.input :step,
                                collection: [ 'ACCEPT', 'STUDIO', 'EDITION', 'DELIVERED']
                                %>
                </div>

            
                </div>
            </div>

        </div>
        <div class="modal-footer">
        
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <p><%= form.submit "Update Your Order ", class: "btn btn-primary" %></p>

            <button type="button" class="btn btn-primary btn-block">Save changes</button>
        </div>

<% end %>
