 

<div class="container">
    <% @backgrounds.each do |bg| %>

        <div class="card m-2" style="width: 18rem;">
                    <%= image_tag bg.photo, class: "card-img-top" %>

            <div class="card-body">
                <h5 class="card-title"> <%= bg.bg_name  %> </h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <%= link_to order_path(@order, background_id: bg.id), method: :patch, class: "categories__list-btn btn-primary" do %>
                        Book a <%= bg.bg_name %>
                        <span class="fa-solid fa-arrow-right-long icon"></span>
                        <% end %>  
            </div>
        </div>
    <% end %>
</div>

