
<div class="container mt-5">
    <div class="row">
        <div class="col-md-5">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/numama/image/upload/v1649683456/Eshoots/Screen_Shot_2022-04-11_at_10.23.46_ppauff.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <%= link_to categories_path do %>
                        <button class="btn btn-primary">Book a Life Style Shooting</button>
                    <% end %>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="card" style="width: 18rem;">
                <img src="https://res.cloudinary.com/numama/image/upload/v1651511688/Eshoots/Diesel_7_erilcn.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <%= link_to categories_path do %>
                        <button class="btn btn-primary">Book a 24 Hours Shooting</button>
                    <% end %>
                </div>
            </div>
        </div>
    </div>
</div>