 

<div class="container">
    <% @addons.each do |addon| %>

        <div class="card m-2" style="width: 18rem;">
                    <%= image_tag addon.photo, class: "card-img-top" %>
            <div class="card-body">
                <h5 class="card-title"> <%= addon.addon_name  %> </h5>

                    <%= link_to instudio_path(@instudio, addon_id: addon.id), method: :patch, class: "categories__list-btn btn-primary" do %>
                        Book a <%= addon.addon_name %>
                        <span class="fa-solid fa-arrow-right-long icon"></span>
                        <% end %>  
            </div>
        </div>
    <% end %>
</div>