

<div class="container">
    <div class="card-group">
    <%= link_to categories_path do %>
        <div class="card" style="width: 18rem;">
        <img src="https://res.cloudinary.com/numama/image/upload/v1649685108/Eshoots/Screen_Shot_2022-04-11_at_10.51.39_gxuwfh.png" class="card-img-top" alt="...">
        <div class="card-body">
            <p class="card-text">MODEL SHOOT</p>
        </div>
        </div>
    <% end %>
    <%= link_to products_path do %>
        <div class="card" style="width: 18rem;">
            <img src="https://res.cloudinary.com/numama/image/upload/v1649685111/Eshoots/Screen_Shot_2022-04-11_at_10.49.10_ymbncu.png" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">LIFE STYLE</p>
            </div>
        </div>
    <% end %>
    </div>
</div>


